/*
    Styles for Categories section
*/

.container {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 350px;
    /* border: 2px solid black;
    border-radius: 5px; */
    margin-top: 0;
    margin-left: 0;
}

.container h2 {
    text-align: center;
    font-weight: 400;
}

.subContainer input {
    height: 23px;
    padding: 8px;
    width: 310px;
    font-size: 18px;
    border: 0px solid black;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
}

.subContainer input:focus {
    outline-color: black;
}

.subContainer button {
    height: fit-content;
    padding: 5px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
}

.subContainer button:hover {
    cursor: pointer;
    background-color: #333;
    color: white;
}