/*
	Styles for Expenses Card.
*/

.card {
	display: flex;
	justify-content: center;
	width: fit-content;
	height: fit-content;
	border: 2px solid black;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	margin: 5px;
}

.item {
	margin: 5px;
	width: fit-conten;
	height: fit-content;
	padding: 5px;
	text-align: center;
	justify-self: center;
	font-size: 20px;
}

.item:first-child {
	margin: 5px;
	width: fit-content;
	height: fit-content;
	padding: 5px;
	text-align: center;
	justify-self: right;
}

.deleteItem {
	width: 26px;
	height: 26px;
	margin-top: 8px;
	border-radius: 8px;
}
.deleteItem:hover {
	cursor: pointer;
	box-shadow: 2px 2px 2px lightgray;
    cursor: pointer;
}
