/*
    Styles for new Expense Form
*/

.addItem {
    display: grid;
    width: fit-content;
    height: fit-content;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #FDFEFE;
}

.inputBoxN {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
    resize: none;
    outline-color: black;
    border: 2px solid black;
}

.inputBoxN:focus {
    outline-color: black;
}

.btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.inputSubmit {
    justify-self: center;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
}

.inputSubmit:hover {
    cursor: pointer;
    background-color: #333;
    color: white;
}

.cancelBtn {
    justify-self: center;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
}

.cancelBtn:hover {
    cursor: pointer;
    background-color: #333;
    color: white;
}