/*
    Styles for Top Side Title
*/

.top{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0;
    width: 100vw;
    height: 70px;
    text-align: center;
    font-size: 30px;
    background-color: #333;
    color: rgb(220, 199, 113);
    font-size: 42px;
    text-shadow: 5px 5px 5px black;
    padding: 10px;
}